* {
  box-sizing: border-box;
}

@font-face {
  font-family: "super-mario";
  src: url("/assets/supermario256-webfont.woff2") format("woff2"),
    url("/assets/supermario256-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(/assets/fondo\ mario.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: auto;
  height: 100vh;
  overflow: hidden;
  bottom: 0;
}

body:active {
  background-image: url(/assets/fondo\ mario\ 2.jpg);
  transition: background-image 0.2s;
}

.title {
  top: 0;
  width: 100vw;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: "super-mario";
  font-size: 60px;
  text-shadow: 5px 5px 5px red;
  animation: colorh1 5s infinite;
}

@keyframes colorh1 {
  0% {
    color: #002fff;
    text-shadow: 5px 5px 5px #44af35;
  }
  25% {
    color: #f2ca09;
    text-shadow: 5px 5px 5px #002fff;
  }
  50% {
    color: #ef0a1a;
    text-shadow: 5px 5px 5px #f2ca09;
  }
  75% {
    color: #44af35;
    text-shadow: 5px 5px 5px #ef0a1a;
  }
  100% {
    color: #002fff;
    text-shadow: 5px 5px 5px #44af35;
  }
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  height: 490px;
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  width: 100%;
  flex-grow: 1;
  border: none;
  display: flex;
  justify-content: space-between;
}

.col {
  width: 100%;
  border: none;
  margin: 1px;
  padding: 0;
}

.die {
  background-image: url(/assets/Question_Block_NSMB.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.live {
  background-image: url(/assets/bolet.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.grand {
  background-image: url(/assets/bolet\ lila.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.button {
  margin: 0.3rem;
  padding: 0.8rem 1.6rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 0.4rem 0.4rem 0.2rem 0.1rem rgba(31, 31, 31, 0.3);
  color: white;
  font-weight: bold;
  font-family: "super-mario";
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(1, 255, 35, 0.3);

  color: #ef0a1a;
}
